body
{
  background-image: url("img/tlo.png");
  display: flex;
  align-items: center;
  justify-content: center;
}


#bodys
{
  width: 80%;
  height: 80%;
  margin: auto;
  background-image: url("img/plazatlo.png");
  border: 5px solid #03973e;
  border-radius: 7px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container
{
  width: 80%;
  max-width: 100%;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
} 

.passname
{
  font-size: larger;
}

.inp
{
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}



button
{
  max-width: 100%;
  width:80px;
  height: 30px;
  white-space: nowrap;
    color: #fff;
  background-color: #02ac46;
    border: 2px solid #02ac46;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Odibee Sans', cursive;
}

button:hover
{
  background-color: #03973e
}

#output
{
  text-align: center;
  padding: 5px 0;
  border-radius: 7px;
  font-family: 'Odibee Sans', cursive;
}

h3
{
  font-family: 'Odibee Sans', cursive;
  margin-top: 175px;
  margin-bottom: 20px;
}

#game
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input
{
  border-radius: 7px;
  border: 2px solid #02ac46;
  font-family: 'Odibee Sans', cursive;
  margin-top: 50px;
  margin-bottom: 50px;
}

#result
{
  padding: 20px 0;
  width: 80%;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 7px;
  font-family: 'Odibee Sans', cursive;
  text-shadow: 
  2px 2px 0 #6f8f59,
  -2px 2px 0 #33402a,
  -2px -2px 0 #33402a,
  2px -2px 0 #33402a;
} 


.new-game-layer-style
{
  text-align: center;
  padding-top: 0px;
  border-radius: 7px;
}

.new-game-layer-style button
{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 7px;
}