body 
{
    background-image: url("img/plazatlo.png");
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0px;
}


ol 
{
    list-style-type:none;
    padding:0;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
    line-height:2em;
    text-align:center;
    width: 1056px;
    font-family: 'Odibee Sans', cursive;
    font-size: 25px;
    border-radius: 7px;
}

ol a 
{
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 5px;
    border-radius: 7px;
}

ol > li 
{
    float:left;
    background-color:#00fd94;
    width: 350px;
    border:1px solid rgb(0, 204, 255);
    border-radius: 7px;
}

ol > li > a:hover 
{
    color:#09C;
    border-radius: 7px;
  }
  
ol > li:hover 
{
    background-color:#EEE;
    border-radius: 7px;
}

ol > li > ul 
{
    list-style-type:none;
    padding:0;
    margin:0;
    display:none;
    border-radius: 7px;
}
  
ol > li:first-child 
{
    margin-left:0;
    border-radius: 7px;
}

ol > li > ul > li > a 
{
    border-top:1px solid rgb(0, 204, 255);
    border-radius: 7px;
}
  
ol > li > ul > li 
{
    background-color:#EEE;
    border-radius: 7px;
}
  
ol > li > ul > li:hover 
{
    background-color:#DDD;
    border-radius: 7px;
}
  
ol > li > ul > li:hover a 
{
    color:#09C;
    border-radius: 7px;
}

ol > li:hover > ul 
{
    display:block;
    border-radius: 7px;
}
  
ol > li:hover > a 
{
    color:#09C;
    border-radius: 7px;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;
    margin: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.square
{
    width: 50%;
    float: left;
}

#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 680px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: left;
}

#zegar
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: left;
    color: maroon;
    text-shadow:
	2px 2px 0 #ffffff,
	-2px 2px 0 #ffffff,
	-2px -2px 0 #ffffff,
	2px -2px 0 #ffffff;
}

.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.tile1:hover
{
   background-color: #2084c2; 
}

.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.tile2:hover
{
   background-color: #555555; 
}

.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.tile3:hover
{
   background-color: #82b637; 
}

.tile4
{
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #d5572b;
    text-align: center;
    padding: 30px;
    font-size: 26px;
    line-height: 150%;
    color: seashell;
    border-radius: 7px;
}

.tile5
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: center;
    padding: 30px;
    text-align: justify;
    color: mintcream;
    border-radius: 7px;
}

.yt
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.yt:hover
{
   background-color: #c83237; 
}

.fb
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.fb:hover
{
   background-color: #3557a2; 
}

.ig
{ 
    width:105px; 
    height:142px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.ig:hover
{
   background-color: #e08322; 
   background: -moz-linear-gradient(45deg, #e08322 0%, #d5572b 25%, #cb1632 50%, #bb1255 75%, #ab0777 100%); 
   background: -webkit-linear-gradient(45deg, #e08322 0%,#d5572b 25%,#cb1632 50%,#bb1255 75%,#ab0777 100%); 
   background: linear-gradient(45deg, #e08322 0%,#d5572b 25%,#cb1632 50%,#bb1255 75%,#ab0777 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e08322', endColorstr='#ab0777',GradientType=1 );
}
    
.tw
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
    border-radius: 7px;
}

.tw:hover
{
   background-color: #2084c2; 
}

a.tilelink
{
    color: white;
    text-decoration: none;
}

.rectangle1
{
    width: 100%;
    height: 30px;
    background-color: rgb(0, 204, 255);
    margin: 0px;
    text-align: center;
    border: 1px groove #91b17a;
    bottom: 0;
    position: fixed;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
}




